In [137]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)

#显示所有行

pd.set_option('display.max_rows', 100)

import warnings
warnings.filterwarnings("ignore")
import xgboost as xgb
from xgboost import plot_importance
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np

import sys
import time
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import datetime
import warnings
import feather
warnings.filterwarnings("ignore")
import math
sys.path.append('/data/apps/modules/jupyter')
from helper.spark_helper import *
from helper.presto_helper import query_presto
from helper.csv_helper import *
from helper.pandas_helper import *
from helper.presto_helper import query_hive_wy
citys='196'
user_pref_df = get_df_from_csv_table(query_presto(f'''
    select city_id,user_id, cur_date, order_count_d,order_days_30d,if(order_days_30d>5,1,0) as pref
    from dws.dws_pt_user_picture_da
    where city_id in ({citys}) and event_day between '20210201' and '20210407'
''')).dropna()

In [138]:
user_pref_df.shape

(13418475, 6)

In [139]:
user_pref_df.order_count_d.sum()

1017150.0

In [114]:
user_pref_df['cur_date1'] = pd.to_datetime(user_pref_df['cur_date'])
user_pref_df.head()

,city_id,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1
0,196,2224193,2021-04-05 00:00:00.000,0.0,0.0,0,2021-04-05
1,196,4112789,2021-04-05 00:00:00.000,0.0,0.0,0,2021-04-05
2,196,4143563,2021-04-05 00:00:00.000,0.0,0.0,0,2021-04-05
3,196,4161029,2021-04-05 00:00:00.000,0.0,8.0,1,2021-04-05
4,196,4938692,2021-04-05 00:00:00.000,0.0,0.0,0,2021-04-05

In [30]:
user_pref_df['month'] = pd.DatetimeIndex(pd.to_datetime(user_pref_df['cur_date1'])).month
user_pref_df.head()

,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1,month
0,4200061,2021-04-07 00:00:00.000,1.0,5.0,0,2021-04-07,4
1,6865117,2021-04-07 00:00:00.000,0.0,1.0,0,2021-04-07,4
2,6889987,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4
3,6950268,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4
4,7165739,2021-04-07 00:00:00.000,3.0,13.0,1,2021-04-07,4

In [31]:
user_pref_df['year'] = pd.DatetimeIndex(pd.to_datetime(user_pref_df['cur_date1'])).year
user_pref_df.head()

,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1,month,year
0,4200061,2021-04-07 00:00:00.000,1.0,5.0,0,2021-04-07,4,2021
1,6865117,2021-04-07 00:00:00.000,0.0,1.0,0,2021-04-07,4,2021
2,6889987,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021
3,6950268,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021
4,7165739,2021-04-07 00:00:00.000,3.0,13.0,1,2021-04-07,4,2021

In [32]:
user_pref_df['day'] = pd.DatetimeIndex(pd.to_datetime(user_pref_df['cur_date1'])).day
user_pref_df.head()

,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1,month,year,day
0,4200061,2021-04-07 00:00:00.000,1.0,5.0,0,2021-04-07,4,2021,7
1,6865117,2021-04-07 00:00:00.000,0.0,1.0,0,2021-04-07,4,2021,7
2,6889987,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021,7
3,6950268,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021,7
4,7165739,2021-04-07 00:00:00.000,3.0,13.0,1,2021-04-07,4,2021,7

In [33]:
user_pref_df['week'] = pd.DatetimeIndex(pd.to_datetime(user_pref_df['cur_date1'])).week
user_pref_df.head()

,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1,month,year,day,week
0,4200061,2021-04-07 00:00:00.000,1.0,5.0,0,2021-04-07,4,2021,7,14
1,6865117,2021-04-07 00:00:00.000,0.0,1.0,0,2021-04-07,4,2021,7,14
2,6889987,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021,7,14
3,6950268,2021-04-07 00:00:00.000,0.0,0.0,0,2021-04-07,4,2021,7,14
4,7165739,2021-04-07 00:00:00.000,3.0,13.0,1,2021-04-07,4,2021,7,14

In [34]:
user_pref_df.shape

(302769, 10)

In [35]:
user_pref_df[user_pref_df.user_id==2044893]

,user_id,cur_date,order_count_d,order_days_30d,pref,cur_date1,month,year,day,week
67937,2044893,2021-04-07 00:00:00.000,0.0,4.0,0,2021-04-07,4,2021,7,14
256967,2044893,2021-04-05 00:00:00.000,0.0,3.0,0,2021-04-05,4,2021,5,14
297406,2044893,2021-04-06 00:00:00.000,2.0,4.0,0,2021-04-06,4,2021,6,14

In [115]:
od=user_pref_df.groupby(['user_id','city_id']).order_count_d.sum().reset_index()

In [43]:
od[od.user_id==2044893]

    user_id  order_count_d
26  2044893            9.0

In [140]:
detail_df=get_df_from_csv_table(query_presto(f'''
    select user_id,bike_sn,city_id
    from dwd.dwd_bd_order_detail_da
    where city_id=196 and event_day between '20201001' and '20210407'
'''))

In [141]:
detail_df.shape

(1349581, 3)

In [48]:
detail_df[detail_df.user_id==2044893]

        user_id    bike_sn
455     2044893  812213792
42451   2044893  802213797
61667   2044893  812217214
72578   2044893  812211465
102101  2044893  802211660
108734  2044893  812211469
108755  2044893  802214719
117708  2044893  802213795
166815  2044893  812213792

In [112]:
detail_df.head()

    user_id    bike_sn  city_id
0   7967634  812211670      196
1   7206012  802214067      196
2  27700953  812212191      196
3  49256175  812210707      196
4  21175399  812216664      196

In [116]:
cnt_df=detail_df.groupby(['user_id','city_id']).count().reset_index()

In [66]:
cnt_df

        user_id  bike_sn
0       1758254        7
1       1888917        3
2       2039255        2
3       2044893        9
4       2177414        4
5       2205068        6
6       2210328        1
7       2325725       10
8       2342723        2
9       2344749        2
10      2346996       16
11      2363002       10
12      2366724       37
13      2404830        2
14      2425340        2
15      2434520        7
16      2487236        2
17      2677758       18
18      2736479        2
19      2768759        1
20      2781581        2
21      2832051        2
22      2844124        3
23      2932802       12
24      3014971        2
25      3034258        4
26      3324466        1
27      3341157        5
28      3367998        2
29      3378705        2
30      3450989        3
31      3467241        3
32      3569821       10
33      3640649        5
34      3655735       49
35      3709632        8
36      3717353        6
37      3762734        1
38      3813941        5
39      3826030        3
40      3889632       12
41      3951239        1
42      3970027        1
43      4004038        7
44      4086956        2
45      4091942        4
46      4091957        1
47      4093546        6
48      4094638        5
49      4100537        1
...         ...      ...
27898  49561661        1
27899  49562118        2
27900  49563780        1
27901  49565603        1
27902  49568750        1
27903  49571555        1
27904  49571571        2
27905  49574310        1
27906  49574546        4
27907  49574711        3
27908  49575188        2
27909  49575298        5
27910  49575384        3
27911  49577216        1
27912  49577914        2
27913  49579882        1
27914  49580374        1
27915  49581655        1
27916  49582248        4
27917  49582631        1
27918  49582667        1
27919  49582808        1
27920  49585172        1
27921  49585369        2
27922  49585642        1
27923  49586143        2
27924  49586159        3
27925  49586678        1
27926  49586749        1
27927  49587610        1
27928  49589173        1
27929  49589875        1
27930  49594276        1
27931  49594872        1
27932  49596668        3
27933  49597955        1
27934  49598173        1
27935  49598210        1
27936  49598437        1
27937  49598703        1
27938  49598723        1
27939  49599480        2
27940  49599611        2
27941  49599820        2
27942  49601401        1
27943  49602551        1
27944  49602589        1
27945  49603214        2
27946  49609687        1
27947  49612502        1

[27948 rows x 2 columns]

In [59]:
cnt_df[['bike_sn']].describe()

            bike_sn
count  27948.000000
mean       9.029913
std       13.064983
min        1.000000
25%        2.000000
50%        4.000000
75%       10.000000
max      206.000000

In [74]:
cnt_df['bike_sn'].sum()

252368

In [65]:
user_pref_df[user_pref_df.user_id==43127196]['order_count_d'].sum()

206.0

In [68]:
od2=user_pref_df.groupby(['user_id']).sum().reset_index()

In [89]:
cnt_df.head()

   user_id  bike_sn
0  1758254        7
1  1888917        3
2  2039255        2
3  2044893        9
4  2177414        4

In [119]:
merge_df=od.merge(cnt_df,on=['user_id','city_id'],how='left')

In [120]:
merge_df

         user_id  city_id  order_count_d  bike_sn
0         923219      196            0.0      NaN
1         946294      196            0.0      NaN
2        1026996      196            0.0      NaN
3        1071779      196            0.0      NaN
4        1119499      196            0.0      NaN
5        1206788      196            0.0      NaN
6        1426690      196            0.0      NaN
7        1544056      196            0.0      NaN
8        1641126      196            0.0      NaN
9        1657627      196            0.0      NaN
10       1659872      196            0.0      NaN
11       1700392      196            0.0      NaN
12       1714167      196            0.0      NaN
13       1734281      196            0.0      NaN
14       1734498      196            0.0      NaN
15       1758254      196            7.0      7.0
16       1776258      196            0.0      NaN
17       1778597      196            0.0      NaN
18       1888917      196            3.0      3.0
19       1944195      196            0.0      NaN
20       1958053      196            0.0      NaN
21       1960380      196            0.0      NaN
22       1998135      196            0.0      NaN
23       2024884      196            0.0      NaN
24       2039255      196            2.0      2.0
25       2039261      196            0.0      NaN
26       2044893      196            9.0      9.0
27       2045365      196            0.0      NaN
28       2090750      196            0.0      NaN
29       2093107      196            0.0      NaN
30       2169035      196            0.0      NaN
31       2177414      196            4.0      4.0
32       2205068      196            6.0      6.0
33       2210328      196            1.0      1.0
34       2224193      196            0.0      NaN
35       2261621      196            0.0      NaN
36       2306779      196            0.0      NaN
37       2322884      196            0.0      NaN
38       2325725      196           10.0     10.0
39       2327242      196            0.0      NaN
40       2330421      196            0.0      NaN
41       2330968      196            0.0      NaN
42       2335769      196            0.0      NaN
43       2342723      196            2.0      2.0
44       2343507      196            0.0      NaN
45       2344749      196            2.0      2.0
46       2346996      196           16.0     16.0
47       2363002      196           10.0     10.0
48       2366724      196           37.0     37.0
49       2375304      196            0.0      NaN
...          ...      ...            ...      ...
102555  49562118      196            2.0      2.0
102556  49563780      196            1.0      1.0
102557  49565603      196            1.0      1.0
102558  49568750      196            1.0      1.0
102559  49571555      196            1.0      1.0
102560  49571571      196            2.0      2.0
102561  49574310      196            1.0      1.0
102562  49574546      196            4.0      4.0
102563  49574711      196            3.0      3.0
102564  49575188      196            2.0      2.0
102565  49575298      196            5.0      5.0
102566  49575384      196            3.0      3.0
102567  49577216      196            1.0      1.0
102568  49577914      196            2.0      2.0
102569  49579882      196            1.0      1.0
102570  49580374      196            1.0      1.0
102571  49581655      196            1.0      1.0
102572  49582248      196            4.0      4.0
102573  49582631      196            1.0      1.0
102574  49582667      196            1.0      1.0
102575  49582808      196            1.0      1.0
102576  49585172      196            1.0      1.0
102577  49585369      196            2.0      2.0
102578  49585642      196            1.0      1.0
102579  49586143      196            2.0      2.0
102580  49586159      196            3.0      3.0
102581  49586678      196            1.0      1.0
102582  49586749      196            1.0      1.0
102583  49587610      196            1.0      1.0
102584  49589173      196            1.0      1.0
102585  49589875      196            1.0      1.0
102586  49594276      196            1.0      1.0
102587  49594872      196            1.0      1.0
102588  49596668      196            3.0      3.0
102589  49597955      196            1.0      1.0
102590  49598173      196            1.0      1.0
102591  49598210      196            1.0      1.0
102592  49598437      196            1.0      1.0
102593  49598703      196            1.0      1.0
102594  49598723      196            1.0      1.0
102595  49599096      196            1.0      NaN
102596  49599480      196            2.0      2.0
102597  49599611      196            2.0      2.0
102598  49599820      196            2.0      2.0
102599  49601401      196            1.0      1.0
102600  49602551      196            1.0      1.0
102601  49602589      196            1.0      1.0
102602  49603214      196            2.0      2.0
102603  49609687      196            1.0      1.0
102604  49612502      196            1.0      1.0

[102605 rows x 4 columns]

In [71]:
merge_df=merge_df.fillna(0)

In [121]:
merge_df=merge_df.dropna()

In [ ]:
merge_df

In [122]:
merge_df['order_count_d'].sum()

248259.0

In [123]:
merge_df['bike_sn'].sum()

249099.0

In [77]:
cnt_df.shape

(27948, 2)

In [79]:
od2.shape

(102605, 4)

In [80]:
a=cnt_df['user_id'].tolist()

In [81]:
b=od2['user_id'].tolist()

In [84]:
c=list(set(a).difference(set(b)))

In [85]:
c

[7176199,
 4104201,
 31084554,
 8091659,
 7194634,
 7215118,
 19970062,
 24408088,
 34850841,
 27428891,
 15247389,
 34574365,
 18069538,
 5627939,
 34492452,
 14467110,
 4309032,
 20107311,
 7219248,
 4442159,
 5744698,
 9084987,
 17389628,
 7206983,
 48758856,
 8376393,
 8742988,
 7145562,
 6660194,
 8593509,
 18835558,
 4130926,
 44046448,
 5914736,
 19712113,
 20125811,
 8091760,
 6963317,
 31107190,
 4624503,
 14262387,
 28498042,
 14434428,
 30683261,
 36685951,
 7037059,
 6664324,
 45162637,
 26740878,
 21524624,
 39934098,
 48674963,
 6977684,
 6959253,
 7379093,
 42428568,
 7168153,
 10471576,
 6854811,
 7266460,
 43569309,
 9846954,
 7127210,
 28530860,
 32786610,
 14512309,
 39751863,
 20811961,
 6854846,
 14448831,
 18655422,
 7915713,
 37714110,
 5490898,
 8001754,
 5284060,
 33861854,
 7084255,
 8188132,
 47583463,
 14239976,
 10447080,
 5490920,
 39373037,
 12548340,
 31527159,
 18993399,
 17553659,
 41588989,
 4731134,
 16646398,
 6054142,
 25084159,
 7207165,
 6598916,
 12691719,
 29167884,
 47950093,
 22593807,
 22962453,
 5493019,
 7426332,
 20771107,
 17013027,
 34156837,
 6887718,
 13918504,
 23331116,
 20334892,
 15173940,
 49365301,
 47044916,
 5959992,
 7084345,
 43718968,
 38684991,
 13564226,
 7309636,
 12454213,
 6660422,
 9908554,
 4680010,
 8411468,
 7641423,
 31605072,
 10006863,
 27470160,
 8767825,
 7477589,
 32461141,
 11235669,
 5847387,
 48466272,
 46199145,
 3826030,
 36589937,
 43985269,
 14819702,
 9693560,
 5904768,
 7188865,
 6908293,
 21246342,
 48224647,
 11944328,
 7143820,
 6988173,
 7262605,
 47223185,
 7575953,
 13275539,
 12210581,
 8460694,
 36747680,
 12540327,
 10467757,
 4788654,
 22788525,
 41820593,
 24998323,
 19966390,
 6885816,
 8640953,
 29557178,
 11698620,
 7158204,
 8169925,
 4114887,
 8382920,
 19964362,
 8489419,
 6953425,
 38220243,
 7537112,
 44280281,
 7395802,
 26581473,
 5800418,
 4833761,
 6957540,
 41877990,
 4839915,
 7145965,
 5442031,
 19108336,
 18958833,
 7225842,
 6900212,
 44548596,
 43164153,
 11532795,
 27732479,
 7328261,
 7088650,
 8956426,
 28643850,
 8548880,
 16957968,
 20945426,
 20460055,
 12069402,
 15997467,
 6865435,
 19454492,
 26978844,
 7719453,
 7856666,
 20363821,
 3762734,
 5222958,
 26638898,
 6072883,
 3324466,
 5110323,
 48362042,
 34347582,
 12919359,
 19200581,
 4282954,
 8385098,
 7336531,
 8366678,
 6861400,
 48255579,
 29813340,
 7512672,
 43063904,
 48345696,
 41183844,
 19432039,
 19599975,
 6574697,
 6885992,
 13800050,
 18416246,
 17795702,
 48571001,
 14797435,
 32270973,
 5917312,
 8911491,
 48571013,
 26432133,
 8444553,
 7942802,
 20554387,
 20353685,
 9833110,
 18035359,
 37098144,
 48024224,
 6658723,
 8958629,
 15278759,
 43221672,
 7017129,
 6957741,
 6259374,
 4111024,
 12804788,
 20310708,
 9513655,
 8936123,
 7103164,
 11133628,
 24744639,
 23220928,
 3709632,
 12108480,
 41226945,
 25205447,
 26129103,
 36090576,
 22518479,
 48974547,
 7000793,
 24453849,
 16863961,
 41851612,
 7926492,
 8200926,
 18893536,
 22280932,
 11012839,
 42044139,
 4184811,
 41587439,
 8524528,
 25064176,
 37024498,
 20331251,
 36895473,
 17908465,
 48198386,
 7035639,
 20519672,
 6068988,
 4281087,
 48120580,
 8291079,
 19491592,
 15180554,
 10046222,
 8911631,
 8307472,
 12985115,
 6857499,
 27327259,
 7885598,
 5888804,
 33946404,
 5839657,
 7387950,
 10287919,
 47119154,
 13163319,
 14752568,
 7418679,
 8096574,
 36567870,
 7181121,
 8444740,
 11848522,
 34837322,
 39088972,
 4172619,
 16726867,
 8385363,
 21347162,
 44663644,
 17458013,
 14105444,
 30229349,
 24441704,
 7328618,
 6919021,
 7738222,
 8037230,
 47471474,
 47565684,
 35226485,
 44780412,
 13708157,
 28619646,
 7715710,
 7211906,
 11813762,
 42767236,
 24644485,
 46693255,
 8395656,
 41028490,
 41976714,
 7250827,
 6925195,
 10611596,
 7523219,
 6101907,
 9497493,
 27736983,
 10089368,
 41888670,
 7615391,
 7107488,
 4275104,
 8676259,
 8143780,
 8745895,
 17615787,
 5415856,
 15618998,
 6947767,
 8684474,
 6865852,
 6980542,
 4142019,
 37508036,
 48804809,
 36957130,
 48804815,
 12626896,
 5596113,
 45888467,
 4105171,
 42251221,
 7785427,
 7130068,
 7406552,
 5974996,
 21349340,
 39924709,
 3970027,
 4932587,
 16370679,
 4168696,
 7580669,
 9114623,
 45984495,
 44231686,
 49191944,
 21877770,
 49064971,
 48606219,
 14255117,
 4310028,
 31048716,
 9565212,
 26790942,
 7183392,
 4189217,
 8119333,
 6908966,
 12512295,
 20692013,
 21253166,
 8229934,
 23532595,
 4105270,
 17949754,
 11459643,
 3367998,
 48802880,
 8862787,
 9843784,
 7234633,
 6894672,
 41841748,
 13247578,
 19688538,
 45839454,
 15101023,
 14208096,
 43818088,
 25261161,
 4133994,
 44424300,
 30884973,
 12842097,
 8260722,
 9311350,
 7412855,
 8789112,
 16282744,
 7507066,
 7173239,
 43799676,
 8494202,
 40191105,
 7894150,
 35536007,
 6982794,
 11334795,
 8658060,
 4715658,
 6945935,
 8328336,
 7918741,
 4387992,
 47185050,
 7343261,
 6855846,
 41301160,
 12242088,
 27684010,
 18689195,
 4086956,
 6882476,
 8266926,
 9172139,
 31995064,
 48606392,
 6663353,
 7298237,
 24943806,
 5977285,
 9706698,
 7777482,
 34145484,
 7687373,
 8228045,
 7163087,
 9813194,
 41096401,
 25246929,
 7417043,
 13536469,
 6905045,
 8221909,
 40596694,
 6948057,
 47445207,
 8912089,
 35728605,
 14157024,
 6913249,
 41737446,
 6550760,
 7900397,
 12741872,
 17179889,
 8297713,
 7980275,
 14630133,
 22504694,
 4189437,
 18498815,
 4734208,
 4863235,
 7183620,
 6941959,
 19467532,
 17112333,
 6864144,
 7271702,
 8320281,
 6929690,
 40133915,
 10802460,
 48606493,
 11998498,
 11115819,
 44711212,
 20204844,
 19678511,
 7189807,
 42403127,
 12873016,
 7005496,
 19305789,
 15281469,
 8340798,
 4842813,
 47979841,
 48663874,
 8461637,
 8836423,
 31661404,
 45559133,
 18488676,
 7470437,
 8674663,
 10796392,
 30993773,
 9037167,
 7091572,
 6221174,
 6505847,
 9966969,
 24776057,
 33781114,
 7259516,
 4117884,
 19619199,
 6681986,
 42202498,
 8322438,
 43163021,
 8242575,
 7695760,
 42864017,
 13534609,
 4287889,
 20002196,
 9676177,
 7591317,
 5072281,
 24858010,
 4652444,
 9264541,
 21779871,
 47855008,
 4300191,
 18335135,
 15510948,
 4433317,
 15187369,
 4220330,
 4122026,
 8519084,
 19795378,
 16704948,
 42900924,
 6897084,
 24616384,
 16078273,
 4675011,
 4175302,
 4122064,
 32507345,
 45163984,
 7259610,
 12303835,
 12473821,
 7921120,
 8721891,
 14188004,
 5565926,
 7468523,
 9537004,
 7882223,
 7417332,
 40938998,
 6063609,
 10274297,
 28468729,
 40683003,
 18054649,
 15984125,
 18341377,
 8312322,
 10212868,
 6395397,
 6905360,
 4251162,
 5226010,
 6979101,
 5953054,
 17387038,
 8109599,
 14868002,
 48162350,
 7212591,
 7570990,
 35774000,
 8148534,
 4228673,
 41436743,
 8461896,
 7243339,
 41330251,
 9369164,
 20559437,
 8664655,
 6862420,
 4355671,
 18384478,
 9102951,
 4486760,
 41494121,
 4093546,
 47980144,
 8207985,
 7865970,
 34563696,
 10137204,
 42946164,
 23168632,
 8308347,
 7587454,
 8101503,
 7700099,
 40865411,
 45743747,
 5834374,
 48334471,
 11271814,
 5918349,
 24348303,
 13076117,
 7235226,
 43859610,
 24731290,
 7943838,
 44557982,
 12445345,
 9424548,
 16287397,
 37889702,
 4400806,
 10047142,
 43437737,
 46630565,
 19089069,
 22793901,
 6944432,
 45446833,
 42884786,
 8392371,
 4220595,
 17995443,
 16559796,
 5617331,
 20518586,
 17721019,
 13287103,
 17362624,
 10421951,
 7161535,
 41934529,
 4163269,
 38305478,
 6878918,
 7730885,
 27279052,
 21335759,
 7368401,
 18630354,
 31030994,
 9578196,
 37252821,
 15380182,
 7288533,
 11765464,
 13917913,
 13770460,
 4957919,
 8386271,
 44893921,
 6934247,
 7055083,
 6975212,
 5271277,
 4148979,
 34445043,
 23439093,
 8929016,
 18626299,
 42747648,
 18777858,
 11489027,
 49149702,
 48289543,
 5811976,
 8986375,
 6983435,
 12558094,
 17614607,
 46429968,
 8791826,
 16070420,
 4118293,
 48443157,
 46786324,
 10465048,
 8785695,
 24241953,
 13518629,
 46157605,
 6846245,
 21821221,
 6891302,
 7354154,
 46116650,
 36122419,
 16922420,
 37293878,
 31029046,
 34817850,
 4224827,
 8423228,
 8470333,
 13352766,
 7106367,
 11134779,
 24319809,
 38887238,
 5916488,
 20375371,
 6985548,
 10211150,
 7868240,
 13262672,
 7032656,
 40013651,
 7206739,
 5699414,
 48115543,
 6860633,
 15380315,
 19842907,
 20832091,
 6936419,
 47945572,
 16263016,
 7776104,
 12220269,
 46933870,
 43595630,
 5031795,
 47638397,
 12224382,
 7198592,
 5482369,
 8263556,
 42438537,
 19517326,
 15298450,
 19134354,
 7045012,
 17024919,
 6954909,
 4396959,
 8218528,
 10721184,
 7157668,
 21600167,
 16148392,
 12373929,
 48943020,
 9891756,
 5601198,
 6981551,
 20402098,
 11552692,
 12187574,
 15359927,
 7382969,
 6956987,
 25724862,
 48682943,
 9418686,
 30058433,
 16971716,
 9127876,
 45459399,
 8611784,
 8218569,
 6854603,
 43231179,
 36837326,
 46829518,
 10762194,
 4288467,
 14913494,
 47253463,
 9390042,
 7049180,
 47994845,
 6510557,
 5357534,
 8562657,
 20703206,
 24719339,
 4366316,
 8255470,
 22249455,
 47615984,
 24406001,
 21016561,
 7184372,
 5414902,
 11859958,
 21272569,
 8560634,
 22419453,
 20168702]

In [86]:
od2[od2.user_id==7176199]

Empty DataFrame
Columns: [user_id, order_count_d, order_days_30d, pref]
Index: []

In [87]:
get_df_from_csv_table(query_presto(f'''
    select count(order_id)
    from dwd.dwd_bd_order_detail_da
    where city_id=227 and event_day between '20210301' and '20210406'
'''))

    _col0
0  280877

In [88]:
get_df_from_csv_table(query_presto(f'''
    select sum(order_count_d)
    from dws.dws_pt_user_picture_da
    where city_id in (227) and event_day between '20210301' and '20210406'
'''))

    _col0
0  280852

In [90]:
merge_df2=od2.merge(cnt_df,on='user_id',how='left')
merge_df2=merge_df2.dropna()

In [91]:
merge_df2['order_count_d'].sum()

248259.0

In [92]:
merge_df2['bike_sn'].sum()

249099.0

In [93]:
merge_df2

         user_id  order_count_d  order_days_30d  pref  bike_sn
15       1758254            7.0            30.0     1      7.0
18       1888917            3.0            15.0     0      3.0
24       2039255            2.0            47.0     0      2.0
26       2044893            9.0            33.0     0      9.0
31       2177414            4.0           125.0     0      4.0
32       2205068            6.0            86.0     0      6.0
33       2210328            1.0            21.0     0      1.0
38       2325725           10.0           308.0    34     10.0
43       2342723            2.0             2.0     0      2.0
45       2344749            2.0            54.0     0      2.0
46       2346996           16.0            85.0     3     16.0
47       2363002           10.0           266.0    20     10.0
48       2366724           37.0           374.0    34     37.0
52       2404830            2.0            27.0     0      2.0
54       2425340            2.0            26.0     1      2.0
56       2434520            7.0            64.0     0      7.0
58       2487236            2.0           119.0    19      2.0
67       2677758           18.0           278.0    30     18.0
71       2736479            0.0             0.0     0      2.0
76       2768759            1.0             7.0     0      1.0
77       2781581            7.0           147.0    19      2.0
82       2832051            2.0            46.0     0      2.0
83       2844124            3.0            50.0     0      3.0
90       2932802           12.0           214.0    24     12.0
95       3014971            2.0             1.0     0      2.0
97       3034258            4.0           133.0     0      4.0
116      3341157           13.0           162.0    10      5.0
118      3378705            2.0            41.0     0      2.0
120      3450989            3.0            65.0     0      3.0
121      3467241            3.0            41.0     0      3.0
127      3569821           15.0           141.0    13     10.0
133      3640649            5.0            59.0     0      5.0
134      3655735           49.0           550.0    34     49.0
138      3717353            6.0            18.0     0      6.0
158      3813941            5.0           110.0     1      5.0
173      3889632           12.0           282.0    34     12.0
183      3951239            1.0            25.0     0      1.0
188      4004038            7.0            37.0     0      7.0
204      4091942            4.0            54.0     0      4.0
205      4091957            3.0            34.0     0      1.0
206      4094638            5.0           229.0    20      5.0
207      4100537            1.0            27.0     3      1.0
208      4100709            1.0            28.0     0      1.0
212      4101497            4.0            70.0     0      4.0
213      4102851            2.0            71.0     0      2.0
216      4103647            1.0             2.0     0      1.0
233      4106828            4.0            45.0     0      4.0
241      4109374            2.0            42.0     0      2.0
250      4111799            8.0            69.0     0      8.0
255      4113249            3.0            77.0     0      3.0
...          ...            ...             ...   ...      ...
102554  49561661            1.0             2.0     0      1.0
102555  49562118            2.0             2.0     0      2.0
102556  49563780            1.0             2.0     0      1.0
102557  49565603            1.0             2.0     0      1.0
102558  49568750            1.0             1.0     0      1.0
102559  49571555            1.0             1.0     0      1.0
102560  49571571            2.0             1.0     0      2.0
102561  49574310            1.0             1.0     0      1.0
102562  49574546            4.0             1.0     0      4.0
102563  49574711            3.0             1.0     0      3.0
102564  49575188            2.0             1.0     0      2.0
102565  49575298            5.0             1.0     0      5.0
102566  49575384            3.0             1.0     0      3.0
102567  49577216            1.0             1.0     0      1.0
102568  49577914            2.0             1.0     0      2.0
102569  49579882            1.0             1.0     0      1.0
102570  49580374            1.0             1.0     0      1.0
102571  49581655            1.0             1.0     0      1.0
102572  49582248            4.0             1.0     0      4.0
102573  49582631            1.0             1.0     0      1.0
102574  49582667            1.0             1.0     0      1.0
102575  49582808            1.0             1.0     0      1.0
102576  49585172            1.0             1.0     0      1.0
102577  49585369            2.0             1.0     0      2.0
102578  49585642            1.0             1.0     0      1.0
102579  49586143            2.0             1.0     0      2.0
102580  49586159            3.0             1.0     0      3.0
102581  49586678            1.0             1.0     0      1.0
102582  49586749            1.0             1.0     0      1.0
102583  49587610            1.0             1.0     0      1.0
102584  49589173            1.0             1.0     0      1.0
102585  49589875            1.0             1.0     0      1.0
102586  49594276            1.0             1.0     0      1.0
102587  49594872            1.0             1.0     0      1.0
102588  49596668            3.0             1.0     0      3.0
102589  49597955            1.0             1.0     0      1.0
102590  49598173            1.0             1.0     0      1.0
102591  49598210            1.0             1.0     0      1.0
102592  49598437            1.0             1.0     0      1.0
102593  49598703            1.0             1.0     0      1.0
102594  49598723            1.0             1.0     0      1.0
102596  49599480            2.0             1.0     0      2.0
102597  49599611            2.0             1.0     0      2.0
102598  49599820            2.0             1.0     0      2.0
102599  49601401            1.0             1.0     0      1.0
102600  49602551            1.0             1.0     0      1.0
102601  49602589            1.0             1.0     0      1.0
102602  49603214            2.0             1.0     0      2.0
102603  49609687            1.0             1.0     0      1.0
102604  49612502            1.0             1.0     0      1.0

[27102 rows x 5 columns]

In [94]:
merge_df2[merge_df2.order_count_d!=merge_df2.bike_sn]

         user_id  order_count_d  order_days_30d  pref  bike_sn
71       2736479            0.0             0.0     0      2.0
77       2781581            7.0           147.0    19      2.0
116      3341157           13.0           162.0    10      5.0
127      3569821           15.0           141.0    13     10.0
205      4091957            3.0            34.0     0      1.0
256      4113367            2.0            71.0     8      7.0
261      4114599            2.0            32.0     0      4.0
266      4114946            2.0             2.0     0      3.0
288      4119742           15.0           242.0    33     10.0
293      4120710            2.0            91.0     0      1.0
332      4132831           11.0           298.0    34      8.0
388      4155696            3.0           105.0    11      1.0
391      4156218            5.0           154.0     1      1.0
405      4159846            8.0           245.0    20      7.0
422      4164281           22.0           189.0    15     24.0
455      4184405           13.0           194.0    13     22.0
480      4194232            2.0            51.0     0      1.0
510      4209063           11.0           258.0    16     10.0
555      4230252           49.0           792.0    34     45.0
579      4247602            3.0           120.0     6      1.0
630      4274379            4.0           126.0     1      3.0
646      4280312            8.0           270.0    34      7.0
697      4307240            7.0            63.0     3      8.0
715      4323027            5.0           103.0     6      6.0
719      4328129            4.0           129.0     0      3.0
754      4364940           13.0           357.0    34      7.0
775      4388002            1.0           107.0    10      2.0
801      4400043           12.0           284.0    32      4.0
876      4480231            5.0            35.0     0      3.0
879      4482167            5.0           129.0     0      2.0
915      4523168            3.0            97.0     0      2.0
924      4531585           28.0           285.0    27      1.0
930      4539072           11.0            99.0     0      2.0
932      4540646            0.0            57.0     0      2.0
938      4547245            1.0            36.0     3     22.0
965      4583630            9.0            16.0     0      1.0
969      4592057            2.0            15.0     2      7.0
989      4630683            3.0            30.0     0      4.0
1052     4740453           32.0           345.0    22     39.0
1057     4750234           10.0           241.0    25      9.0
1059     4752110            3.0           105.0     0      2.0
1060     4753340            7.0           163.0    13      4.0
1065     4759012           11.0           388.0    30      9.0
1100     4806476           12.0           236.0    25      9.0
1109     4813420            4.0            61.0     7      3.0
1110     4815029            3.0            30.0     0      2.0
1121     4827664            0.0            14.0     0      1.0
1155     4882490            7.0           176.0    11      6.0
1172     4906942            3.0            80.0     0      2.0
1177     4916316            7.0           215.0    18      1.0
...          ...            ...             ...   ...      ...
99236   47214906            2.0            11.0     0      3.0
99354   47286854            4.0            84.0     0      2.0
99667   47467501            5.0           103.0     0      4.0
99681   47474152           18.0           270.0    23     17.0
99727   47516805            3.0            41.0     0      1.0
99766   47549697           31.0           384.0    32     27.0
99768   47550697            7.0           174.0    22      5.0
99810   47578956           48.0           584.0    29     50.0
99998   47685615            1.0             1.0     0      2.0
100032  47703190            1.0            15.0     0      2.0
100042  47711974           16.0           200.0    16     20.0
100047  47713758            3.0            60.0     0      2.0
100119  47761152            1.0             4.0     0      2.0
100126  47767307            3.0             9.0     0      5.0
100153  47789189            2.0            36.0     0      1.0
100207  47821750           88.0           465.0    27     89.0
100311  47875383            3.0            61.0     0      2.0
100319  47878736            5.0            36.0     0      4.0
100347  47897644            3.0            45.0     0      1.0
100389  47919458            4.0            53.0     0      3.0
100427  47940490            4.0             3.0     0     18.0
100436  47942073            6.0            93.0     0      4.0
100456  47951623            1.0             4.0     0      5.0
100529  47987173           16.0           109.0     2     10.0
100564  48000075            4.0            14.0     0      5.0
100605  48022811            4.0             3.0     0      5.0
100640  48048352            4.0            51.0     0      3.0
100653  48055633            4.0            64.0     0      2.0
100821  48181919            3.0            30.0     0      2.0
100900  48248010            4.0            46.0     0      3.0
100951  48277716            6.0            48.0     0      4.0
100952  48277781            2.0            10.0     0      1.0
100997  48312062            2.0            24.0     0      1.0
101069  48365414            2.0             3.0     0      3.0
101074  48366458            3.0            32.0     0      2.0
101107  48382348           15.0            63.0     7     14.0
101137  48405247            7.0            86.0     7      6.0
101143  48407968            1.0             1.0     0      2.0
101162  48425230           28.0           111.0    11      9.0
101168  48429998            7.0            26.0     0      5.0
101195  48443440            3.0            26.0     0      1.0
101268  48489070            3.0            24.0     0      5.0
101358  48549835            4.0             7.0     0      3.0
101486  48665291           22.0            44.0     4     37.0
101683  48818354            2.0            24.0     0      1.0
101712  48850881           20.0            64.0     6     21.0
101720  48857155            0.0            25.0     0      1.0
101911  49049470            2.0            11.0     0      4.0
102061  49149479            1.0            10.0     0      2.0
102363  49384809            6.0             5.0     0      4.0

[751 rows x 5 columns]

In [124]:
get_df_from_csv_table(query_presto(f'''
    select order_id,event_day,city_id,user_id
    from dwd.dwd_bd_order_detail_da
    where city_id=196 and event_day between '20210301' and '20210406' and user_id=2781581
'''))

              order_id event_day  city_id  user_id
0  2103203989823979585  20210320      196  2781581
1  2103204111089696772  20210320      196  2781581

In [108]:
get_df_from_csv_table(query_presto(f'''
    select order_count_d,city_id,user_id,event_day
    from dws.dws_pt_user_picture_da
    where city_id=196 and event_day between '20210301' and '20210406' and user_id=2781581
'''))

    order_count_d  city_id  user_id event_day
0               0      196  2781581  20210405
1               0      196  2781581  20210406
2               0      196  2781581  20210403
3               0      196  2781581  20210330
4               0      196  2781581  20210402
5               0      196  2781581  20210401
6               0      196  2781581  20210404
7               0      196  2781581  20210331
8               0      196  2781581  20210329
9               0      196  2781581  20210326
10              0      196  2781581  20210325
11              0      196  2781581  20210328
12              2      196  2781581  20210327
13              0      196  2781581  20210324
14              0      196  2781581  20210323
15              0      196  2781581  20210322
16              0      196  2781581  20210321
17              3      196  2781581  20210320

In [125]:
jiguang_df=pd.read_csv('iaudience.csv').rename({'imei/phone/mac/imsi':'mobile'},axis=1)

In [131]:
col=list(jiguang_df.columns)

In [136]:
col_use=[]
for _ in col:
    if jiguang_df[_].count()>jiguang_df.shape[0]/5:
        col_use.append(_)
        print(_,':',jiguang_df[_].count())

mobile : 30132
查询结果 : 30132
CPL_HHM_CHILD_HC : 16041
CPL_INDM_GEND_S : 22537
CPL_INDM_MARRC2 : 22520
CPL_INDM_NATI : 20633
CPL_INDM_AGE_C5 : 22039
CPL_HHM_CHILD_CHLI : 16041
CID_MODEL : 23748
CPL_DVM_BRAD : 22903
CPL_DVM_HF : 24076
CPL_DVM_ISP : 18865
CPL_DVM_OS : 23749
CPL_DVM_PUPR : 23037
CPL_DVM_RESO : 23502
CPL_DVM_SCSIZE : 23488
CPL_DVM_TIME : 22976
CPL_DVM_TYPE : 23098
FIM_FISM_CONL_CIR : 13892
FIM_FISM_INCL : 12999
GBM_BHM_PURB_CONP : 18902
GBM_BHM_PURB_PREF : 20761
SOM_OCM_CAREER : 14585
GBM_HBM_S : 19033
GBM_BHM_APPP_APPR_S : 19690
GBM_BHM_PURB_PURW : 17339
GBM_BHM_PURB_SUPR : 19102
GBM_BHM_REAB_REAP : 20791
APP_HOBY_SHORT_VIDEO : 17156
APP_HOBY_SUMMARY_VIDEO : 18616
APP_HOBY_SELF_PHOTO : 18766
APP_HOBY_SUNMMARY_NEWS : 12121
APP_HOBY_SPEED_GAME : 9683
APP_HOBY_WIFI : 14995
APP_HOBY_FOOD : 11216
APP_HOBY_RECORD : 13245
APP_HOBY_HOT_SOCIAL : 19412
APP_HOBY_ONLINE_STUDY : 7306
APP_HOBY_ZONGHE_SHOPPING : 16659
APP_HOBY_DISCOUNT_MARKET : 7769
APP_HOBY_GROUP_BUY : 8303
APP_HOBY_SMOTE_OFFICE : 17981
CPL_INDM_UNDERG : 22537
CPL_INDM_EDU_LEVEL : 22537

In [135]:
jiguang_df.shape

(30132, 340)

In [1]:
#百度坐标转高德坐标
def read_key():
    """  持久化key,便于读取 """
    key_path = os.path.join('user-key')
    print(key_path)
    with open(key_path, 'r', encoding='utf-8') as f:
        key = f.read()
        print(key)
    return key
# read_key()

import requests
def request_url_get(url):
    """ 请求url方法get方法 """
    try:
        r = requests.get(url=url, timeout=30)
        if r.status_code == 200:
            return r.text
        return None
    except RequestException:
        print('请求url返回错误异常')
        return None
    
# https://restapi.amap.com/v3/assistant/coordinate/convert?parameters
import json
def parse_json(content_json):
    """  解析json函数 """
    result_json = json.loads(content_json)
    return result_json

def request_api(url):
    """ 请求高德api 解析json """
    result = request_url_get(url)
    result_json = parse_json(result)
    return result_json

def run():
    """ 运行函数 """
#     locations = (test_df['start_lng'][0],test_df['start_lat'][0])
    coordsys = 'baidu'
    lng=104.158337
    lat=30.004660
    key = read_key()
 
    index_url=f'https://restapi.amap.com/v3/assistant/coordinate/convert?'\
         f'key={key}&locations={lng},{lat}&coordsys={coordsys}'
    
#     index_url=f'https://restapi.amap.com/v3/assistant/coordinate/convert?'\
#             f'key={key}&locations=104.158337,30.004660&coordsys=baidu'

    index_result = request_api(index_url)

    print(index_result)
    print(index_result['locations'])
    
# run()

In [4]:
index_url='https://api.data.jiguang.cn/v5/users?phone=18622876058&tag=all'
index_result = request_api(index_url)

TypeError: the JSON object must be str, bytes or bytearray, not 'NoneType'

In [17]:
# !/usr/bin/env python3
# -*- coding: utf-8 -*-

from requests import get
from base64 import b64encode
import json

if __name__ == '__main__':
    devKey = b''
    devSecret = b''
    params = {
        'phone': 'xxxxxxxxxxx',
        'tag': 'all'
    }

    base64_auth_string = (b64encode(devKey + b':' + devSecret)).decode()
    headers = {'Authorization': f'Basic {base64_auth_string}'}
    response = get('https://api.data.jiguang.cn/v5/users', headers=headers, params=params)
    print(response.request.headers)
    print(json.dumps(json.loads(response.text), indent=4))

{'User-Agent': 'python-requests/2.21.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'Basic Og=='}
{
    "code": 4001,
    "message": "auth header not right: Basic Og==",
    "req_id": "c43c68d2ae3cc832"
}

In [10]:
devKey = b''
devSecret = b''

In [12]:
from requests import get
from base64 import b64encode
import json
base64_auth_string = str(b64encode(devKey + b':' + devSecret))

In [13]:
base64_auth_string

"b'Og=='"

In [14]:
{'Authorization': f'Basic {base64_auth_string}'}

{'Authorization': "Basic b'Og=='"}

In [15]:
get('https://api.data.jiguang.cn/v5/users', headers=headers, params=params)

NameError: name 'headers' is not defined

In [19]:

from requests import get
from base64 import b64encode
import json

if __name__ == '__main__':
    devKey = b'92b272ae27c69ad714f471a9'
    devSecret = b'7888db2627e681c2dacbde7d'
    params = {
        'phone': 'xxxxxxxxxxx',
        'tag': 'all'
    }

    base64_auth_string = (b64encode(devKey + b':' + devSecret)).decode()
    print(base64_auth_string)
    headers = {'Authorization': f'Basic {base64_auth_string}'}
    response = get('https://api.data.jiguang.cn/v5/users', headers=headers, params=params)
    print(response.request.headers)
    js_response = json.loads(response.text)
    print(json.dumps(js_response, indent=4))

OTJiMjcyYWUyN2M2OWFkNzE0ZjQ3MWE5Ojc4ODhkYjI2MjdlNjgxYzJkYWNiZGU3ZA==
{'User-Agent': 'python-requests/2.21.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'Basic OTJiMjcyYWUyN2M2OWFkNzE0ZjQ3MWE5Ojc4ODhkYjI2MjdlNjgxYzJkYWNiZGU3ZA=='}
{
    "code": 4002,
    "message": "\u7528\u6237\u65e0\u6743\u9650\u8bbf\u95ee\u6b64API",
    "req_id": "d96cb103291d9ff2"
}

In [ ]:
https://report.jpush.cn/v3/received/detail?msg_ids=1613113584,1229760629 -u "7d431e42dfa6a6d693ac2d04:5e987ac6d2e04d95a9d8f0d1"

In [23]:
from requests import get
from base64 import b64encode
import json

if __name__ == '__main__':
    devKey = b'7d431e42dfa6a6d693ac2d04'
    devSecret = b'5e987ac6d2e04d95a9d8f0d1'
    params = {
#         'phone': 'xxxxxxxxxxx',
#         'tag': 'all'
        'msg_ids':'1613113584,1229760629',
    }

    base64_auth_string = (b64encode(devKey + b':' + devSecret)).decode()
    print(base64_auth_string)
    headers = {'Authorization': f'Basic {base64_auth_string}'}
    response = get('https://report.jpush.cn/v3/received/detail', headers=headers, params=params)
    print(response.request.headers)
    js_response = json.loads(response.text)
    print(json.dumps(js_response, indent=4))

N2Q0MzFlNDJkZmE2YTZkNjkzYWMyZDA0OjVlOTg3YWM2ZDJlMDRkOTVhOWQ4ZjBkMQ==
{'User-Agent': 'python-requests/2.21.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Authorization': 'Basic N2Q0MzFlNDJkZmE2YTZkNjkzYWMyZDA0OjVlOTg3YWM2ZDJlMDRkOTVhOWQ4ZjBkMQ=='}
[
    {
        "android_pns_received": null,
        "android_pns_sent": null,
        "ios_apns_received": null,
        "ios_apns_sent": null,
        "ios_msg_received": null,
        "jpush_received": null,
        "msg_id": "1613113584",
        "quickapp_jpush_received": null,
        "quickapp_pns_sent": null,
        "wp_mpns_sent": null
    },
    {
        "android_pns_received": null,
        "android_pns_sent": null,
        "ios_apns_received": null,
        "ios_apns_sent": null,
        "ios_msg_received": null,
        "jpush_received": null,
        "msg_id": "1229760629",
        "quickapp_jpush_received": null,
        "quickapp_pns_sent": null,
        "wp_mpns_sent": null
    }
]

In [24]:
user_pref_df.shape

NameError: name 'user_pref_df' is not defined

In [1]:
import datetime
import time

In [4]:
datetime.date()

datetime.date

In [6]:
localtime = time.localtime(time.time())

In [7]:
localtime

time.struct_time(tm_year=2021, tm_mon=4, tm_mday=12, tm_hour=11, tm_min=45, tm_sec=42, tm_wday=0, tm_yday=102, tm_isdst=0)

In [10]:
localtime['tm_year']

TypeError: tuple indices must be integers or slices, not str

In [14]:
# 年月日时分秒 "%Y-%m-%d %H-%M-%S" 
time.strftime("%Y",time.localtime(time.time()))

'2021'

In [15]:
import pandas as pd
df=pd.read_csv('jg_sg_df3.csv')

In [18]:
df.window.value_counts()

8.0    9851
7.0    7745
6.0    2714
5.0    1392
2.0    1091
4.0     846
3.0     509
1.0     462
Name: window, dtype: int64

In [21]:
def get_pref(x):
    if x<=4: 
        return 1
    elif x==7: 
        return 0 
    else:
        return -1
df['pref1']=df.window.apply(get_pref)

In [22]:
df['pref1'].value_counts()

-1    13957
 0     7745
 1     2908
Name: pref1, dtype: int64

In [50]:
sql=f"""
    select id,name
    from ods.ods_ebike_city_df
     where event_day='{event_day}' and open=1"""

dfff=get_df_from_csv_table(query_presto(f"""select * from ods.ods_ebike_city_df where event_day='20210412'"""))
dfff.shape

(768, 33)

In [54]:
date_tmp=(datetime.date.today() + datetime.timedelta(days=-1)).strftime('%Y-%m-%d')
date_tmp

'2021-04-12'

In [49]:
from helper.presto_helper import *
from helper.csv_helper import *
from helper.pandas_helper import *

df2=get_df_from_csv_table(query_presto(f"""select * from ai.dws_ai_jw_physics_move_car_da where event_day='20210413'"""))
df2.shape

(0, 6)

In [28]:
import datetime
import time
# time.strftime("%Y-%m-%d",time.localtime(time.time()))

In [29]:
time.strftime("%Y-%m-%d",time.localtime(time.time()))

'2021-04-12'

In [42]:
''.join(datetime.date.today().strftime('%Y-%m-%d').split('-'))

'20210412'

In [47]:
today=datetime.date.today() 
start_date_tmp=(today + datetime.timedelta(days=-29)).strftime('%Y-%m-%d')

start_date = ''.join(start_date_tmp.split('-'))
end_date = ''.join(today.strftime('%Y-%m-%d').split('-'))


event_day = end_date

'20210412'

In [36]:
(datetime.date.today() + datetime.timedelta(days=-29)).strftime('%Y-%m-%d')

'2021-03-14'

In [24]:
df2

       city_name  station_id  station_type    cur_date event_day  city_id
0            桐柏县        3351             2  2021-03-17  20210316       98
1            上饶县       73736             2  2021-03-17  20210316       95
2            上饶县       73758             2  2021-03-17  20210316       95
3            上饶县       56112             2  2021-03-17  20210316       95
4            桐柏县       32035             2  2021-03-17  20210316       98
5            上饶县       73919             1  2021-03-17  20210316       95
6            上饶县        4339             2  2021-03-17  20210316       95
7            上饶县       73924             2  2021-03-17  20210316       95
8            桐柏县      152542             2  2021-03-17  20210316       98
9            桐柏县        9095             2  2021-03-17  20210316       98
10           上饶县       91464             2  2021-03-17  20210316       95
11           上饶县        3706             2  2021-03-17  20210316       95
12           上饶县       73820             2  2021-03-17  20210316       95
13           上饶县       91294             2  2021-03-17  20210316       95
14           桐柏县       13020             2  2021-03-17  20210316       98
15           上饶县       98900             2  2021-03-17  20210316       95
16           桐柏县        6050             2  2021-03-17  20210316       98
17           上饶县       98828             2  2021-03-17  20210316       95
18           上饶县       73703             2  2021-03-17  20210316       95
19           上饶县       73775             2  2021-03-17  20210316       95
20           桐柏县        3345             2  2021-03-17  20210316       98
21           上饶县       73916             2  2021-03-17  20210316       95
22           上饶县       91446             2  2021-03-17  20210316       95
23           桐柏县        3431             2  2021-03-17  20210316       98
24           桐柏县      179946             1  2021-03-17  20210316       98
25           桐柏县        8896             2  2021-03-17  20210316       98
26           桐柏县      211353             1  2021-03-17  20210316       98
27           桐柏县        8581             1  2021-03-17  20210316       98
28           上饶县       73931             1  2021-03-17  20210316       95
29           上饶县       91470             1  2021-03-17  20210316       95
...          ...         ...           ...         ...       ...      ...
106786       禄丰县       99242             2  2021-03-17  20210316      104
106787       禄丰县       99288             2  2021-03-17  20210316      104
106788       禄丰县       99329             2  2021-03-17  20210316      104
106789       禄丰县       71412             2  2021-03-17  20210316      104
106790       禄丰县       99326             2  2021-03-17  20210316      104
106791       禄丰县       99295             2  2021-03-17  20210316      104
106792       南华县      159639             2  2021-03-17  20210316      103
106793       君山区        4267             2  2021-03-17  20210316      111
106794       君山区        4337             2  2021-03-17  20210316      111
106795       君山区        4572             2  2021-03-17  20210316      111
106796       常山县        8226             2  2021-03-17  20210316      106
106797       合肥市       96594             2  2021-03-17  20210315       13
106798       合肥市      214547             2  2021-03-17  20210315       13
106799       合肥市      214559             2  2021-03-17  20210315       13
106800       合肥市      214560             2  2021-03-17  20210315       13
106801       合肥市      214561             2  2021-03-17  20210315       13
106802       禄丰县       56231             2  2021-03-17  20210316      104
106803       禄丰县       71503             2  2021-03-17  20210316      104
106804       禄丰县       99234             2  2021-03-17  20210316      104
106805       禄丰县       99241             2  2021-03-17  20210316      104
106806       禄丰县       99254             2  2021-03-17  20210316      104
106807       禄丰县       71446             2  2021-03-17  20210316      104
106808       浦城县       10444             2  2021-03-18  20210315      158
106809       浦城县       33570             2  2021-03-18  20210315      158
106810       浦城县       40225             2  2021-03-18  20210315      158
106811       浦城县       40323             2  2021-03-18  20210315      158
106812       浦城县       40405             2  2021-03-18  20210315      158
106813       浦城县      103769             2  2021-03-18  20210315      158
106814       浦城县      194546             2  2021-03-18  20210315      158
106815       浦城县      194622             2  2021-03-18  20210315      158

[106816 rows x 6 columns]